<h1>Enter teams details</h1>
<%= simple_form_for @colleges do |f| %>
  <%= f.input :team %>
  <%= f.input :mascot %>
  <%= f.input :city %>
  <br />
  <%= f.submit 'Enter', class: 'btn btn-danger' %>
<% end %>